.App {
  text-align: center;
}

.start-button {
  padding: 20px 50px;
  border-radius: 20px;
  font-size: 20px;
  font-family: OCR A;
  cursor: pointer;
}

.start-button:hover {
  background-color: 	#808080;
}

.Tetris {
  position: relative;
}

.BoardCell {
  width: auto;
  border-radius: 6px;
  position: relative;
}

.Tetronimo {
  border-top: 3px solid rgba(255, 255, 255, 0.1);
  border-left: 3px solid rgba(255, 255, 255, 0.1);
  border-right: 3px solid rgba(0, 0, 0, 0.1);
  border-bottom: 3px solid rgba(0, 0, 0, 0.1);
}

.Sparkle {
  position: absolute;
  z-index: 10;
  width: 6px;
  height: 6px;
  left: -2px;
  top: -2px;
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 4px 4px;
}