.App {
  text-align: center;
}

.start-button {
  padding: 20px 50px;
  border-radius: 20px;
  font-size: 20px;
  font-family: OCR A;
  cursor: pointer;
}

.start-button:hover {
  background-color: 	#808080;
}
